/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Header 3D box */
.header-container {
    background-color: #007B9C;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.header h1 {
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Centered content for logo and buttons */
.centered-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Logo styling */
.logo {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

/* Button container */
.button-container {
    display: block;
    margin-top: 20px;
}

/* Unique button styling */
.button {
    display: inline-block;
    background-color: #007B9C;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 6px #005f7a;
    width: 250px;
}

.button:hover {
    background-color: #005f7a;
}

.button:active {
    transform: translateY(4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px #004a5c;
}

/* Back button with different style */
.back-button {
    background-color: #f44336;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 3px #c0392b;
    width: 100px;
    position: fixed;
    bottom: 10px;
    left: 44%;
    transform: translateX(-50%);
}

.back-button:hover {
    background-color: #e74c3c;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 4px #a73226;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .logo {
        width: 200px;
        height: 200px;
    }

    .button {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 250px;
        height: 250px;
    }

    .button {
        width: 150px;
        padding: 10px 20px;
        font-size: 1rem;
    }

    .header h1 {
        font-size: 28px;
    }

    .back-button {
        width: 100px;
        bottom: 8px;
    }
}
